/*Folha de estilo do carrossel de imagens
@author Marcos Almeida
*/

* {
    margin: 0;
    padding: 0;
}

.container {
    max-width: 1080PX;
    margin: 0 auto;
}

img {
    max-width: 100%;
}

/*Efeito fade*/
#slide.fadeOut {
    opacity: 0.1;
    /*trasparencia 0 a 1*/
}

#slide {
    transition: opacity 2s;
    opacity: 1;
}